html {
  font-family: monospace;
  background-color: gray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}


h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}
